<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/js/carOverview.css}" rel="stylesheet"/>
    <title>Car overview</title>
</head>
<body>
<h2>Available cars</h2>

<div th:if="${not#lists.isEmpty(cars)}">
<table style="border-top-color: black" >
    <thead>
    <tr style="border: black" class="top-table">
        <td style="padding-right: 30px">
            <strong>Brand</strong>
        </td>
        <td style="padding-right: 30px">
            <strong>Model</strong>
        </td>
        <td style="padding-right: 30px">
            <strong>Engine</strong>
        </td>
        <td style="padding-right: 30px">
            <strong>Color</strong>
        </td>
    </tr>
    </thead>

    <tr th:each="car : ${cars}">
        <td style="padding-right: 30px" th:text="${car.brand}"></td>
        <td style="padding-right: 30px" th:text="${car.model}"></td>
        <td style="padding-right: 30px" th:text="${car.type}"></td>
        <td style="padding-right: 30px" th:text="${car.colour}"></td>
    </tr>

</table>
</div>
<h2>Brands :</h2>
<a th:href="@{/tesla}">
    Tesla
</a>
</body>
</html>