<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/js/carOverview.css}" rel="stylesheet"/>
    <title>Car overview</title>
</head>
<body>
<h2>Available cars</h2>

<div th:if="${not#lists.isEmpty(cars)}">
<table style="border-top-color: black" >
    <thead>
    <tr style="border: black" class="top-table">
        <td style="padding-right: 30px">
            <strong>Brand</strong>
        </td>
        <td style="padding-right: 30px">
            <strong>Model</strong>
        </td>
        <td style="padding-right: 30px">
            <strong>Engine</strong>
        </td>
        <td style="padding-right: 30px">
            <strong>Color</strong>
        </td>
    </tr>
    </thead>

    <tr th:each="car : ${cars}">
        <td style="padding-right: 30px" th:text="${car.brand}"></td>
        <td style="padding-right: 30px" th:text="${car.model}"></td>
        <td style="padding-right: 30px" th:text="${car.type}"></td>
        <td style="padding-right: 30px" th:text="${car.colour}"></td>
    </tr>

</table>
</div>
<h2>Brands :</h2>
<a th:href="@{/tesla}">
    Tesla
</a>

<form action="#" th:action="@{/cars/save}" th:object="${form}"
      method="post"> Add a new car
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Colour</th>
                    <th>Type</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
<!--            <tr th:each="car, itemStat : *{cars}">-->
<!--                <td><input th:field="*{cars[__${itemStat.index}__].brand}" /></td>-->
<!--                <td><input th:field="*{cars[__${itemStat.index}__].model}" /></td>-->
<!--                <td><input th:field="*{cars[__${itemStat.index}__].colour}" /></td>-->
<!--                <td><input th:field="*{cars[__${itemStat.index}__].type}" /></td>-->
<!--                <td><input th:field="*{cars[__${itemStat.index}__].stock}" /></td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </fieldset>

</form>
</body>
</html>