<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Car overview</title>
</head>
<body>
<h2>Available cars</h2>

<h2>Cars:</h2>
<div>
    <p th:text="${Tesla}"/>
</div>

<table style="border-top-color: black">
    <tr style="border: black">
        <td style="padding-right: 30px">
            <strong>Brand</strong>
        </td>
        <td style="padding-right: 30px">
            <strong>Model</strong>
        </td>
        <td style="padding-right: 30px">
            <strong>Engine</strong>
        </td>
        <td style="padding-right: 30px">
            <strong>Color</strong>
        </td>
    </tr>
    <tr>
        <td style="padding-right: 30px">
            Toyota
        </td>
        <td style="padding-right: 30px">
            Corolla
        </td>
        <td style="padding-right: 30px">
            Hybrid
        </td>
        <td>
            Red
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/tesla}">
                Tesla
            </a>
        </td>
        <td>
            S3XY
        </td>
        <td>
            Electric
        </td>
        <td>
            Gray
        </td>
    </tr>
    <tr>
        <td>
            Ford
        </td>
        <td>
            Fiesta
        </td>
        <td>
            Petrol
        </td>
        <td>
            Silver
        </td>
    </tr>
</table>

</body>
</html>